:where(.enterprise-shell) .workspace-footer:not(:where(.business-outlet,.business-outlet *)) {
  padding: 18px 37px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  color: var(--text-muted);
  font-size: 12px;
  gap: 20px;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}
:where(.enterprise-shell) .workspace-footer span span:not(:where(.business-outlet,.business-outlet *)) {
  margin: 0 9px;
}
